<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>은하수|글보기</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">EunHa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/allmembers}">멤버</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/board/list}">게시판</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <p class="nav-link" sec:authorize="isAuthenticated()"><span sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal().getUsername()}"></span>님</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('ROLE_MEMBER')" href="#">내정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h2>글보기</h2>
    <div class="form-group">
        <label for="writer">작성자:</label>
        <input type="text" id="writer" class="form-control form-control-sm" name="writer" th:value="${board.writer}" disabled>
    </div>
        <div class="form-group">
            <label for="title">제목:</label>
            <input type="text" id="title" class="form-control form-control-sm" name="title" th:value="${board.title}" disabled>
        </div>
        <div class="form-group">
            <label for="content">내용:</label>
            <textarea class="form-control" rows="5" id="content" name="content" th:text="${board.content}" disabled></textarea>
        </div>
    <div th:if="${#authentication.getPrincipal().getUsername() eq board.writer}">
        <a th:href="@{/board/update/{boardId}(boardId=${board.boardId})}" class="btn btn-info" role="button">수정</a>
        <a th:href="@{/board/delete/{boardId}(boardId=${board.boardId})}" class="btn btn-info" role="button">삭제</a>
    </div>
</div>

</body>
</html>